.itr-table {
  width: 100%;
  border-collapse: collapse;
}

.itr-table th, .itr-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.itr-table th {
  background-color: #f2f2f2;
}