annotated-types
anyio
bidict
blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
distro
dnspython
eventlet
Flask
flask-cors
Flask-Mail
Flask-SocketIO
fpdf
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
gunicorn
h11
httpcore
httplib2
httpx
idna
itsdangerous
Jinja2
jiter
joblib
MarkupSafe
numpy
openai
opencv-python
packaging
pdf2image
pdfminer.six
pdfplumber
pillow
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyparsing
pypdfium2
pytesseract
python-dotenv
python-engineio
python-socketio
RapidFuzz
razorpay
requests
scikit-learn
scipy
simple-websocket
sniffio
threadpoolctl
tqdm
typing-inspection
typing_extensions
uritemplate
urllib3
Werkzeug
wsproto
